---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row index all-posts">

    <h1 class="header author-header">{{ site.author_name }}</h1>
    <h2 class="header" itemprop="headline">Portfolio</h2>


      {% for post in site.portfolio %}

      {% if forloop.first %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
        <ul>
      {% endif %}

          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">
            {% if post.enddate %}
              from
            {% else %}
              since
            {% endif %}
            {{ post.startdate | date: "%B %-d, %Y" }}
            {% if post.enddate %}
              to {{ post.enddate | date: "%B %-d, %Y" }}
            {% endif %}
            </small>
          </li>
      {% if forloop.last %}
        </ul>
      </div>
      {% else %}
        {% if this_year != next_year %}
          </ul>
        </div>
        <div class="col-md-12 content-panel articles">
          <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}

    {% endfor %}
    </div>

  </div>
